Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:
a. List(): untuk mengubah menjadi list
b. tuple(): untuk mengubah menjadi tuple
c. set(): untuk mengubah menjadi set
d. dict(): untuk mengubah menajdi dictionary

Mengkonversi tipe data list

In [2]:
#membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [3]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

Mengkonversi tipe data tuple:

In [4]:
#Membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [6]:
#Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))
#Melihat data yang telat dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

Mengkonversi tipe data set

In [7]:
#Membuat dua set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [9]:
#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))
#Melihat data yang telah di konversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

Mengkonversi tipe data list:

In [10]:
#Membuat dictionary
D = {
    "nama": "Andi",
    "alamat": "Yogyakarta",
    "umur": 20
}

In [11]:
#Mengkonversi struktur data dictionary dari key dan value nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Melihat data yang telah dikomversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'umur', 'alamat', 'nama'}

Latihan

In [16]:
#Lakukan konversi struktur data yang kalian buat pada notebook-notebook sebelumnya menjadi list. tuple, set, dan dictionary(masing-masing satu)
x = [1, 2, 3]
y = [4, 5, 6]

In [17]:
#Mengkonversi struktur data list
k_tuple = tuple(x)
k_set = set(y)
k_dict = dict(zip(x, y))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3)
{4, 5, 6}
{1: 4, 2: 5, 3: 6}

In [18]:
#membuat 2 tuple
x = (1, 2, 3)
y = (4, 5, 6)

In [19]:
#Mengkonversi struktur data list
k_tuple = tuple(x)
k_set = set(y)
k_dict = dict(zip(x, y))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3)
{4, 5, 6}
{1: 4, 2: 5, 3: 6}

In [20]:
#membuat 2 data set
x = (1, 2, 3)
y = (4, 5, 6)

In [21]:
#Mengkonversi struktur data list
k_tuple = tuple(x)
k_set = set(y)
k_dict = dict(zip(x, y))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3)
{4, 5, 6}
{1: 4, 2: 5, 3: 6}

In [22]:
#membuat dictionary
X = {
    "nama": "caca",
    "alamat": "Yogyakarta",
    "umur": 18
}

In [24]:
#Mengkonversi struktur data dictionary dari key dan value nya
k_list = list(X.keys())
k_tuple = tuple(X.values())
k_set = set(X.keys())
#Melihat data yang telah dikomversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('caca', 'Yogyakarta', 18)
{'umur', 'alamat', 'nama'}